## Scraping

In [899]:
#source = requests.get('http://localhost:8080/ui/termos').text
from selenium import webdriver
import time

In [900]:
driver=webdriver.Chrome('D:\\dev\\projetos\\tcc_data_science\\chromedriver.exe')
regioes = ["regiao-1", "regiao-2"]
for regiao in regioes:
    for i in range(1,5):
        time.sleep(0.5)
        if i==1:
#             driver.get(f'https://www.wimoveis.com.br/imoveis-aluguel-{regiao}-df.html')
            print(f'https://www.siteexemplodeanuncios.com.br/imoveis-aluguel-{regiao}-df.html')
        else:
#             driver.get(f'https://www.wimoveis.com.br/imoveis-aluguel-{regiao}-df-pagina-{i}.html')
            print(f'https://www.siteexemplodeanuncios.com.br/imoveis-aluguel-{regiao}-df-pagina-{i}.html')
#         html = driver.page_source
#         f = open(f'{regiao}_page{i}.html', "a")
#         f.write(html)
#         f.close()

https://www.siteexemplodeanuncios.com.br/imoveis-aluguel-regiao-1-df.html
https://www.siteexemplodeanuncios.com.br/imoveis-aluguel-regiao-1-df-pagina-2.html
https://www.siteexemplodeanuncios.com.br/imoveis-aluguel-regiao-1-df-pagina-3.html
https://www.siteexemplodeanuncios.com.br/imoveis-aluguel-regiao-1-df-pagina-4.html
https://www.siteexemplodeanuncios.com.br/imoveis-aluguel-regiao-2-df.html
https://www.siteexemplodeanuncios.com.br/imoveis-aluguel-regiao-2-df-pagina-2.html
https://www.siteexemplodeanuncios.com.br/imoveis-aluguel-regiao-2-df-pagina-3.html
https://www.siteexemplodeanuncios.com.br/imoveis-aluguel-regiao-2-df-pagina-4.html

## Beautiful Soup - open file and commands

In [909]:
from bs4 import BeautifulSoup
import os
import requests
import re
import datetime

In [910]:
#arquivo para logar execução da extração dos dados para eventual verificação
log = open(f'execution_log.txt', "w", encoding="utf-8")
log.write('------------------------------------------------------------------------\n')
log.write(f"inicio_execucao_{datetime.datetime.now().strftime('%Y%m%d_%H%M%S')}\n")

dataset = open(f'dataset.csv', "w", encoding="utf-8")
dataset.write("regiao,area,quartos,banheiros,garagens,condominio,aluguel\n")

# assign directory
directory = 'data_html'

for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    if os.path.isfile(f):
        with open(f) as html_file:
            soup = BeautifulSoup(html_file, 'lxml')
        log.write(f"filename: {f}\n")    
        propertiesCards = soup.find_all('div', class_='postingCardInfo')
        print("quantidade de cards encontrados: ", len(propertiesCards))
        # print("example: \n", propertiesCards[0])
        for index, apto in enumerate(propertiesCards):
            log.write(f"index: {index}\n")
            preco = ''
            cond = ''
            area = ''
            beds = ''
            baths = ''
            garages = ''
            try:
                log.write(f"in: {apto.find(class_='firstPrice').text}\n")
                preco = re.search(r'\d+\.?\d+', apto.find(class_="firstPrice").text).group(0).replace('.', '')
                log.write(f"out: {preco}\n")
            except Exception as e:
                print(e)
            try:
                log.write(f"in: {apto.find(class_='postingCardExpenses').text}\n")
                cond = re.search(r'\d+\.?\d+', apto.find(class_="postingCardExpenses").text).group(0).replace('.', '')
                log.write(f"out: {cond}\n")
            except Exception as e:
                print(e)
            mainFeatures = apto.find_all('ul', class_="postingCardMainFeatures")
            for item in mainFeatures:
                listOfLis = item.find_all('li')
                for li in listOfLis:
                    if li.find('i', class_="iconArea"):
                        try:
                            log.write(f"in: {li.text}\n")
                            area = re.search(r'\d+\.?\d?', li.text).group(0).replace('.', '')
                            log.write(f"out: {area}\n")
                        except Exception as e:
                            print(e)                
                    if li.find('i', class_="iconBathrooms"):
                        try:
                            log.write(f"in: {li.text}\n")
                            baths = re.search(r'\d+\.?\d?', li.text).group(0).replace('.', '')
                            log.write(f"out: {baths}\n")
                        except Exception as e:
                            print(e)
                    if li.find('i', class_="iconBedrooms"):
                        try:
                            log.write(f"in: {li.text}\n")
                            beds = re.search(r'\d+\.?\d?', li.text).group(0).replace('.', '')
                            log.write(f"out: {baths}\n")
                        except Exception as e:
                            print(e)
                    if li.find('i', class_="iconGarage"):
                        try:
                            log.write(f"in: {li.text}\n")
                            garages = re.search(r'\d+\.?\d?', li.text).group(0).replace('.', '') 
                            log.write(f"out: {garages}\n")
                        except Exception as e:
                            print(e)                     
                dataset.write(f'{filename.split("_")[0]},{area},{beds},{baths},{garages},{cond},{preco}\n') 

log.write(f"fim_execucao_{datetime.datetime.now().strftime('%Y%m%d_%H%M%S')}\n")
log.close()
dataset.close()

quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'group'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'group'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'group'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'

quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  10
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'group'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  1
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  16
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  13
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'

quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'group'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
quantidade de cards encontrados:  21
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'group'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'group'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'

In [1075]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [1076]:
df = pd.read_csv('dataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1111 entries, 0 to 1110
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   regiao      1111 non-null   object
 1   area        1103 non-null   float64
 2   quartos     744 non-null    float64
 3   banheiros   949 non-null    float64
 4   garagens    514 non-null    float64
 5   condominio  619 non-null    float64
 6   aluguel     1111 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 60.9+ KB

In [1077]:
# links para os outros datasets
# https://pt.wikipedia.org/wiki/Lista_de_regi%C3%B5es_administrativas_do_Distrito_Federal_por_renda_per_capita
# https://pt.wikipedia.org/wiki/Lista_de_regi%C3%B5es_administrativas_do_Distrito_Federal_por_popula%C3%A7%C3%A3o
# http://www.ssp.df.gov.br/dados-por-regiao-administrativa/

### One Hot Encoding

In [1078]:
df_hot = pd.get_dummies(df)
df_hot
cols = df_hot.columns.tolist()
print(cols)
cols_new = ['area',
 'quartos',
 'banheiros',
 'garagens',
 'condominio',
 'regiao_aguas-claras',
 'regiao_asanorte',
 'regiao_asasul',
 'regiao_ceilandia',
 'regiao_gama',
 'regiao_guara',
 'regiao_planaltina',
 'regiao_recantodasemas',
 'regiao_samambaia',
 'regiao_santamaria',
 'regiao_taguatinga', 'aluguel']
df_hot = df_hot[cols_new]
df_hot

['area', 'quartos', 'banheiros', 'garagens', 'condominio', 'aluguel', 'regiao_aguas-claras', 'regiao_asanorte', 'regiao_asasul', 'regiao_ceilandia', 'regiao_gama', 'regiao_guara', 'regiao_planaltina', 'regiao_recantodasemas', 'regiao_samambaia', 'regiao_santamaria', 'regiao_taguatinga']

,area,quartos,banheiros,garagens,condominio,regiao_aguas-claras,regiao_asanorte,regiao_asasul,regiao_ceilandia,regiao_gama,regiao_guara,regiao_planaltina,regiao_recantodasemas,regiao_samambaia,regiao_santamaria,regiao_taguatinga,aluguel
0,156.0,4.0,4.0,2.0,1018.0,1,0,0,0,0,0,0,0,0,0,0,4800
1,186.0,4.0,2.0,3.0,1072.0,1,0,0,0,0,0,0,0,0,0,0,4500
2,3636.0,1.0,1.0,1.0,333.0,1,0,0,0,0,0,0,0,0,0,0,1550
3,55.0,2.0,1.0,1.0,80.0,1,0,0,0,0,0,0,0,0,0,0,800
4,40.0,1.0,1.0,1.0,342.0,1,0,0,0,0,0,0,0,0,0,0,1100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1106,25.0,NaN,1.0,NaN,288.0,0,0,0,0,0,0,0,0,0,0,1,1300
1107,35.0,NaN,1.0,NaN,200.0,0,0,0,0,0,0,0,0,0,0,1,1000
1108,40.0,1.0,1.0,NaN,80.0,0,0,0,0,0,0,0,0,0,0,1,550
1109,123.0,NaN,2.0,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1,2700
1110,279.0,NaN,4.0,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1,6500

In [1079]:
# from scipy import stats
# import numpy as np
# z = np.abs(stats.zscore(df_hot))
# print(z)

In [1080]:
df_drop = df_hot.dropna(subset=['area'])
df_drop = df_drop.loc[df['area'] <=1000]
df_drop = df_drop.loc[df['banheiros'] <= 5]
# values = {'quartos': df_drop['quartos'].mean(), 'banheiros': df_drop['banheiros'].mean(),  'garagens': 0, 'condominio': df_drop['condominio'].median()}
values = {'quartos': df_drop['quartos'].mean(), 'banheiros': df_drop['banheiros'].mean(), 'condominio': df_drop['condominio'].mean()}
df_drop.fillna(value=values, inplace=True)
# df_drop = df_drop.dropna(subset=['quartos'])
# df_drop = df_drop.drop(['condominio'], axis=1)
df_drop = df_drop.drop(['garagens'], axis=1)
df_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 911 entries, 0 to 1110
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   area                   911 non-null    float64
 1   quartos                911 non-null    float64
 2   banheiros              911 non-null    float64
 3   condominio             911 non-null    float64
 4   regiao_aguas-claras    911 non-null    uint8
 5   regiao_asanorte        911 non-null    uint8
 6   regiao_asasul          911 non-null    uint8
 7   regiao_ceilandia       911 non-null    uint8
 8   regiao_gama            911 non-null    uint8
 9   regiao_guara           911 non-null    uint8
 10  regiao_planaltina      911 non-null    uint8
 11  regiao_recantodasemas  911 non-null    uint8
 12  regiao_samambaia       911 non-null    uint8
 13  regiao_santamaria      911 non-null    uint8
 14  regiao_taguatinga      911 non-null    uint8
 15  aluguel                911 non-null    int64
dtypes: float64(4), int64(1), uint8(11)
memory usage: 52.5 KB

### Scaler

In [1081]:
# import matplotlib.pyplot as plt
# for column in df:
#     plt.figure()
#     if "regiao" not in column:
#         df_drop.boxplot([column])
columnsToScale = ['area', 'condominio']
for col in columnsToScale:
      df_drop[col] = (df_drop[col]-df_drop[col].min())/(df_drop[col].max()-df_drop[col].min())
df_drop

,area,quartos,banheiros,condominio,regiao_aguas-claras,regiao_asanorte,regiao_asasul,regiao_ceilandia,regiao_gama,regiao_guara,regiao_planaltina,regiao_recantodasemas,regiao_samambaia,regiao_santamaria,regiao_taguatinga,aluguel
0,0.155155,4.00000,4.0,0.178278,1,0,0,0,0,0,0,0,0,0,0,4800
1,0.185185,4.00000,2.0,0.187924,1,0,0,0,0,0,0,0,0,0,0,4500
3,0.054054,2.00000,1.0,0.010718,1,0,0,0,0,0,0,0,0,0,0,800
4,0.039039,1.00000,1.0,0.057521,1,0,0,0,0,0,0,0,0,0,0,1100
5,0.199199,1.90176,2.0,0.103438,1,0,0,0,0,0,0,0,0,0,0,12500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1106,0.024024,1.90176,1.0,0.047874,0,0,0,0,0,0,0,0,0,0,1,1300
1107,0.034034,1.90176,1.0,0.032154,0,0,0,0,0,0,0,0,0,0,1,1000
1108,0.039039,1.00000,1.0,0.010718,0,0,0,0,0,0,0,0,0,0,1,550
1109,0.122122,1.90176,2.0,0.103438,0,0,0,0,0,0,0,0,0,0,1,2700
1110,0.278278,1.90176,4.0,0.103438,0,0,0,0,0,0,0,0,0,0,1,6500

In [1082]:
X = df_drop.iloc[:,0:15]
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=2, include_bias=False)
poly.fit(X)
X = poly.transform(X)

In [1083]:
y = df_drop.iloc[:, -1]

In [1084]:
X, y

(array([[0.15515516, 4.        , 4.        , ..., 0.        , 0.        ,
         0.        ],
        [0.18518519, 4.        , 2.        , ..., 0.        , 0.        ,
         0.        ],
        [0.05405405, 2.        , 1.        , ..., 0.        , 0.        ,
         0.        ],
        ...,
        [0.03903904, 1.        , 1.        , ..., 0.        , 0.        ,
         1.        ],
        [0.12212212, 1.90175953, 2.        , ..., 0.        , 0.        ,
         1.        ],
        [0.27827828, 1.90175953, 4.        , ..., 0.        , 0.        ,
         1.        ]]),
 0        4800
 1        4500
 3         800
 4        1100
 5       12500
         ...
 1106     1300
 1107     1000
 1108      550
 1109     2700
 1110     6500
 Name: aluguel, Length: 911, dtype: int64)

In [1085]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=20, test_size=0.20)

In [1086]:
lr = LinearRegression().fit(X_train, y_train)
print("lr.coef_: ", lr.coef_)
print("lr.intercept_): ", lr.intercept_)

lr.coef_:  [-8.01798592e+14  1.22029688e+03 -6.07296875e+02  2.28237500e+03
  6.72875000e+02  2.05921875e+02  4.70265625e+02  3.45976562e+02
 -4.48859375e+02 -1.20207031e+02  2.04552734e+02 -2.12497314e+03
  5.03125000e+01  8.26533447e+02 -5.24257812e+01  5.70351562e+03
  3.63359375e+03 -1.05501562e+04 -8.68792227e+04  8.01798592e+14
  8.01798592e+14  8.01798592e+14  8.01798592e+14  8.01798592e+14
  8.01798592e+14  8.01798592e+14  8.01798592e+14  8.01798592e+14
  8.01798592e+14  8.01798592e+14 -6.19906250e+02  3.58785156e+02
  2.26594531e+03 -1.31404297e+02  1.58133594e+03 -7.65652344e+02
 -1.03194531e+03  5.53550781e+02  6.41558105e+02  1.87931641e+02
  2.30000000e+02  1.00523438e+02  3.18897705e+02 -7.21679688e+02
  5.59601562e+02 -4.37675781e+03 -1.33903516e+03 -1.77069727e+03
  3.49580078e+01 -1.66185547e+02 -7.85210938e+02 -1.92208984e+02
  1.43168945e+02  4.74427734e+03 -1.16860742e+03 -1.33071094e+03
  1.04713281e+03  4.29327500e+04  6.74894336e+03  2.43397827e+03
 -3.41507520e+03 -9.37614746e+02  7.90496533e+03  4.06733545e+03
  1.63549194e+01 -9.44082397e+02 -1.80551846e+03 -3.56885315e+03
 -8.17631055e+03  6.87994141e+02  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  2.26912109e+02  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  4.53930664e+02  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  3.20958984e+02
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00 -3.59953125e+02
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -9.95058594e+01  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  1.47606445e+02  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00 -2.15834619e+03  0.00000000e+00  0.00000000e+00
  0.00000000e+00  4.42646484e+01  0.00000000e+00  0.00000000e+00
  8.16665771e+02  0.00000000e+00 -7.45136719e+01]
lr.intercept_):  -1236.2947716346152

In [1087]:
print("training score:\n", lr.score(X_train, y_train))
print("test score\n", lr.score(X_test, y_test))

training score:
 0.7503044959795901
test score
 0.37331134354507856

## Ridge

In [1088]:
from sklearn.linear_model import Ridge

In [1089]:
ridge = Ridge().fit(X_train, y_train)
print("coef_: ", ridge.coef_)
print("intercept_): ", ridge.intercept_)
print("training score:\n", ridge.score(X_train, y_train))
print("test score\n", ridge.score(X_test, y_test))

coef_:  [ 6.72986724e+03  1.40900906e+03  1.10293102e+03  2.48607776e+03
  3.12415937e+02  2.04804284e+02  3.91806412e+02  1.39987047e+02
  3.68065640e+02 -1.35458522e+02 -1.62489049e+01 -5.63305020e+02
  3.20665639e+01 -1.88194386e+01 -7.15313999e+02  1.48090194e+02
  5.30579408e+03 -1.47300199e+03  1.70342894e+03  2.67304090e+03
 -8.65869970e+01  9.31479952e+02  4.18248852e+03 -1.33089257e+03
 -1.21684618e+03 -4.03602949e+01 -8.90933172e+01  7.44881416e+02
 -9.62357065e+00  9.71379378e+02 -5.23175143e+02 -1.89694502e+02
  2.71816029e+03  2.79464168e+02  1.53582690e+03 -1.57380863e+02
 -6.82378250e+02  6.68258961e+02  5.51117901e+02 -4.39654318e+02
 -5.49294097e+02  3.01337398e+02  2.66881354e+01 -1.24976882e+02
  2.68677744e+00 -2.16166140e+01 -2.89932202e+02 -1.12377685e+03
  3.95354116e+02  3.15767405e+02 -1.24952932e+03 -7.36983402e+01
 -1.62489049e+01  1.72402779e+03 -4.68515371e+02 -1.19966213e+02
  2.00944892e+03  3.06594785e+03  1.99081425e+03  1.44899361e+02
  1.73949551e+03 -5.23467105e+02  2.15417744e+03 -3.08403743e+02
 -1.68075191e+00 -1.46281027e+02 -5.93099449e+02 -6.54868417e+01
 -1.90488988e+03  3.12415937e+02  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  2.04804284e+02  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  3.91806412e+02  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  1.39987047e+02
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  3.68065640e+02
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -1.35458522e+02  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
 -1.62489049e+01  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00 -5.63305020e+02  0.00000000e+00  0.00000000e+00
  0.00000000e+00  3.20665639e+01  0.00000000e+00  0.00000000e+00
 -1.88194386e+01  0.00000000e+00 -7.15313999e+02]
intercept_):  -1919.913668750287
training score:
 0.706502021393072
test score
 0.6055884472248033

In [1090]:
print("training score:\n", ridge.score(X_train, y_train))
print("test score\n", ridge.score(X_test, y_test))

training score:
 0.706502021393072
test score
 0.6055884472248033

## Lasso

In [1091]:
from sklearn.linear_model import Lasso

lasso = Lasso(alpha=0.1).fit(X_train, y_train)
print("lr.coef_: ", lasso.coef_)
print("lr.intercept_): ", lasso.intercept_)
print("training score:\n", lasso.score(X_train, y_train))
print("test score\n", lasso.score(X_test, y_test))

lr.coef_:  [ 3.54935214e+04  4.99675057e+02 -8.80717797e+02  1.90278361e+03
  9.35753725e+02  1.51904534e+02  5.45962801e+02  0.00000000e+00
 -8.13658582e+02 -7.01731600e+00  0.00000000e+00 -7.90852888e+02
 -0.00000000e+00  2.27365418e+02 -2.44443320e+02  3.12567985e+03
  3.58287821e+03 -9.44259475e+03 -6.76915436e+04  1.26419558e+04
  2.02402692e+03  2.15690361e+04  1.00732300e+04 -3.41899763e+03
 -1.48838925e+04 -0.00000000e+00 -2.04954366e+04  1.48564215e+04
 -0.00000000e+00  1.52949092e+04 -5.99102175e+02  3.18259495e+02
  1.62390475e+03  6.79524023e+02  2.41915402e+03  7.89777908e+01
 -2.38968829e+02  1.27795673e+03  1.38561154e+03 -5.43690381e+02
  6.65877943e+02  8.52207980e+02  8.44899706e+02  6.55710239e+01
  5.11470742e+02 -3.88993373e+03 -8.91808329e+02 -1.33804435e+03
  3.82058427e+02  1.22516716e+02 -4.54671180e+02  2.03208275e+02
  4.88462223e+02  4.45923523e+03 -7.44677410e+02 -5.91017268e+02
  1.51424818e+03  3.50087444e+04  6.71245980e+03  4.18378315e+03
 -0.00000000e+00  0.00000000e+00  9.48957189e+03  4.17228375e+03
  0.00000000e+00 -0.00000000e+00 -2.96139901e+02 -0.00000000e+00
 -7.35296587e+03  2.18587739e+02  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  1.04264366e+02  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  5.49230630e+02
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00 -1.03930019e+02
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -3.37124981e+02  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  7.68997943e+02  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00 -2.83156152e+03  0.00000000e+00  0.00000000e+00
  0.00000000e+00 -7.50398126e+01  0.00000000e+00  0.00000000e+00
  1.30484399e+02  0.00000000e+00 -1.07406288e+02]
lr.intercept_):  -1098.5854228254202
training score:
 0.749689947029681
test score
 0.4168373028906288

D:\ANACONDA\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:531: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 805637253.2608337, tolerance: 783917.3228807693
  positive)

## ElasticNet

In [1092]:
# from sklearn.linear_model import ElasticNet
# from sklearn.model_selection import cross_val_score, GridSearchCV

# el = ElasticNet()

# scores = cross_val_score(el, X, y, cv=10)

# print("CrossV scores: {}".format(scores))
# print("CrossV scores mean: {}".format(scores.mean()))

# param_grid = {"alpha": [ 0.01, 0.1, 1],
#               "l1_ratio": [0.05, 0.5]}

# gs = GridSearchCV(el, param_grid, cv=10, return_train_score=True)
# gs.fit(X_train, y_train)

# print('test set score: {:.2f}'.format(gs.score(X_test, y_test)))

# print('best_score: {}'.format(gs.best_score_))

# print('best_params: {}'.format(gs.best_params_))

# print('best_estimator: {}'.format(gs.best_estimator_))

# print(pd.DataFrame(gs.cv_results_))

# print("el.coef_: ", el.coef_)
# print("el.intercept_): ", el.intercept_)
# print("training score:\n", el.score(X_train, y_train))
# print("test score\n", el.score(X_test, y_test))

## Random Forest

In [1093]:
from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor()

scores_rfr = cross_val_score(rfr, X, y, cv=5)

print("CrossV scores: {}".format(scores_rfr))
print("CrossV scores mean: {}".format(scores_rfr.mean()))

param_grid_rfr = {"n_estimators": [ 10, 50, 100],
              "min_samples_split": [2, 3, 4, 5, 6, 7, 8]}

gs2 = GridSearchCV(rfr, param_grid_rfr, cv=5, return_train_score=True)
gs2.fit(X_train, y_train)

print('test set score: {:.4f}'.format(gs2.score(X_test, y_test)))

print('best_score: {}'.format(gs2.best_score_))

print('best_params: {}'.format(gs2.best_params_))

print('best_estimator: {}'.format(gs2.best_estimator_))

# com poly 
# test set score: 0.7720
# best_score: 0.654804190601061

# com scaler de area e condominio
#test set score: 0.7218
#best_score: 0.6062706137695081

CrossV scores: [0.50115614 0.63527324 0.57539101 0.39998848 0.53860697]
CrossV scores mean: 0.5300831688259258
test set score: 0.5374
best_score: 0.7445926991545537
best_params: {'min_samples_split': 2, 'n_estimators': 100}
best_estimator: RandomForestRegressor()

In [1094]:
# from sklearn.neural_network import MLPRegressor

# nn = MLPRegressor(max_iter=1000)
# scores_nn = cross_val_score(nn, X, y, cv=4)

# print("CrossV scores: {}".format(scores_nn))
# print("CrossV scores mean: {}".format(scores_nn.mean()))